#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-aligns the rows if container width is greater than its parent */
  width: 100%;
}

.row {
  display: flex;
  justify-content: center; /* Use center for even spacing with flex-grow */
  width: 100%;
  max-width: 1200px; /* Increase max-width for larger screens */
  margin: 0 auto 20px; /* Center the row and add bottom margin */
}

.metric-item {
  flex-grow: 1; /* Allows the items to grow and take available space */
  text-align: center; /* Center text in items */
  border: 1px solid #ccc;
  box-sizing: border-box;
  min-width: 150px; /* Set a minimum width for small screens */
  margin: 0 10px; /* Add some space between items for small screens */
}

.headline-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 20px;
  display: flex;
  align-items: center;
}

.latest-entries-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: xx-large;
}

.new-entry {
  display: flex;
  align-items: center;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #61dafbaa;
  padding-right: 15px;
  padding-left: 15px;
  will-change: filter;
  transition: filter 300ms;
}

.new-entry:hover {
  background-color: #646cffaa;
  filter: drop-shadow(0 0 2em #646cffaa);
  cursor: pointer;
}

.entries-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.entries-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  border: #61dafbaa 1px solid;
}

.entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.table-bordered {
  border-collapse: collapse;
  width: 100%; /* Full width */
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd; /* Border color */
  padding: 8px; /* Padding for better readability */
}

.text-left {
  text-align: left; /* Left align text for headers */
}

.divider {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-top: 50px;
}
